* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;

    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}



/**********  MOBILE FIRST - trying to, at least **********/

header,
footer {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 5%;
}

/********** HEADER styling **********/

header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.magda_en {
    font-weight: bolder;
    font-size: 1.3rem;
}

.magda_en a {
    text-decoration: none;
    color: black;
}

.magda_en span {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style-type: none;
    overflow: hidden;
    transition: all .5s;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    line-height: 1.5;
    padding-top: 0;
    padding-right: 2rem;
}

.menu-item a {
    text-decoration: none;
    font-size: 1rem;
    color: black;
    font-weight: 500;
    padding: 1em 0.5em;
    transition: transform 0.3s, font-weight 0.3s;
}

.menu-item a:hover {
    /* transform: scale(1.5); */
    font-weight: bold;
}

.contact a {
    padding: 1em 0;
}

.contact {
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.active {
    text-decoration: underline;
}


#nav-toggle {
    display: none;
}

#nav-icon {
    display: block;
    position: relative;
    font-size: 1.5rem;
    z-index: 2;
}

#nav-toggle:checked~.menu {
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding-top: 6em;
    bottom: 0;
    overflow: visible;
}

/********** MAIN styling **********/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 5%;
}

.pic-intro {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.pic-intro img {
    width: 100%;
    height: auto;
}

.card-container {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
    box-sizing: border-box;
    overflow: auto;
}

.card {
    max-height: 35vh;
    margin-bottom: 10px;
    margin-top: 10px;
    /* max-width: 300px;
    max-height: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.card a {
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    font-weight: 300;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 5%;
    position: relative;
}

.card h3 {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
    height: 10%;
    left: 0;
    width: auto;
    text-align: center;
}

.site-welcome {
    text-align: center;
}

.card figure {
    /* position: relative; */
    height: 90%;
    width: auto;
}

.card figure img {
    /* position: relative; */
    border-radius: 10% / 20%;
    align-self: center;
    width: 60%;
    max-width: 300px;
    /* height: 75%;
    max-height: 200px; */
    height: auto;
    margin: 5% 20%;
}

.card figure figcaption {
    /* position: relative; */
    bottom: 5%;
    top: 5%;
    left: 0;
    /* width: 100%; */
    text-align: center;
    font-size: 1rem;
}

.card:hover {
    background-color: #f5f9f9;
    font-weight: 900px;
    /* box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%); */

}

@media (min-width:850PX) {

    .card-container {
        justify-content: space-around;
    }

    .card a {
        font-size: 1.1rem;
    }

    .menu {
        padding-right: 0;
    }

}

@media (min-width:950px) {

    .magda_en {
        padding: 1rem 0.5rem;
        font-size: 1.5rem;
    }

    .magda_en span {
        font-size: 1.1rem;
    }

    #nav-icon {
        display: none;
    }

    .menu {
        flex-direction: row;
        overflow: visible;
        position: relative;
        background-color: white;
    }

    .menu-item a {
        font-size: 1.1rem;
        /* font-weight: 400; */
    }

    .portfolio {
        display: flex;
        justify-content: center;
        align-items: center;
    }


}